-e .

-r requirements-dev.txt
hydra-core
numpy
opencv-python-headless
pandas
python-telegram-bot
scikit-learn
tensorflow-addons
tensorflow-cpu; platform_machine != "arm64" or platform_system != "Darwin"
wandb
