-e .

scikit-learn
opencv-python
pandas
numpy
pillow
wandb
split-folders
hydra-core
matplotlib
seaborn
plotly
pre-commit
tensorflow
tensorflow-addons
keras-cv

# fastai & nbdev
fastai
nbdev

# deployment
python-telegram-bot
