-e .
hydra-core
keras-cv
matplotlib

# fastai & nbdev
# fastai


# deployment
nbdev
numpy
opencv-python
pandas
pillow
plotly
pre-commit
python-telegram-bot
scikit-learn
seaborn
split-folders
tensorflow-addons
tensorflow-datasets
wandb
